body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1000;
}


nav {
    display: flex;
    justify-content: right;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease;
}


nav a:active::after {
    width: 100%;
}

nav a:hover {
    background-color: #555;
}

nav a.active {
    border-bottom: 2px solid white;
}

img {
    width: 200px;
    height: 80px;
    z-index: 1001;
}

.image-container-top {

    position: relative;
    margin-top: 90px;
    width: 100%;
    height: 460px;
    background-image: url('heros5.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.main-text {
    font-size: 100px;
    font-family: Calibri, sans-serif;
    font-weight: bold;

}

.topic {

    background-color: #AFDEE5;
    color: #008799;
    text-align: center;
}

.gallery-container {
    padding-top: 40px;
    padding-bottom: 70px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #AFDEE5;

}

.gallery {
    display: inline-block;
    flex-wrap: wrap;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.thumbnail {
    display: inline-block;
    margin: 2px;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.thumb-img {
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border: 1px solid #ddd;
    object-fit: cover;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;

    color: black;
    font-size: 60px;
    z-index: 900;
    height: 60px;
    text-align: center;
    display: flex;
    backdrop-filter: blur(25px);
    align-items: center;
    border-radius: 30%;
    border: none;
    cursor: pointer;
}

#scrollPrev {
    left: 0;
}

#scrollNext {
    right: 0;
}

.extended-view {
    position: relative;
    width: 97%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s, visibility 0.5s;

}

.extended-view.hidden {
    display: none;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#extendedImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
    float: left;
    border: 1px solid #ddd;
}

.image-container {

    margin-top: 10px;
    margin-left: 20px;
    flex-grow: 1;
}


.description-container {

    max-width: 40%;
    margin-top: 60px;

    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 20px;
}

#imageDescription {
    text-align: center;
    font-weight: bold;
}

.hidden {
    display: none;
}

.customization {
    margin-top: 20px;
}

.bigimage {
    width: 100%;
    height: 100%
}

#increaseFontSize,
#decreaseFontSize {
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 100px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-top: 2px solid #666;
    box-sizing: border-box;
}

.footer-logo {
    flex: 1 0 100%;
    margin-bottom: 20px;
    text-align: center;
}

.footer-logo img {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}

.footer-topic {
    flex: 1 0 25%;
    font-weight: bold;
    text-align: center;
}

.footer-subtopic {
    flex: 1 0 25%;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
}

.footer-copyright {
    flex: 1 0 100%;
    margin-top: 20px;
    font-size: 12px;
    color: #999;
}